body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    font-size: 12px;
}
.overall-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    width: 2000px;
}
/* To make the tables that do not have the border o */
.table{
    width: 50%;
    height: 80px;
    border-collapse: collapse;
    margin-top: 0px;
    border-left: 3px solid rgb(14, 162, 190) ;
    border-right: 3px solid rgb(14, 162, 190);
    border-bottom: none;
    border-top: none;
}

th, td{
    padding: 8px;

}
tr:not(.no-border) th, tr:not(.no-border) td{
    padding: 8px;
    border: 2px solid rgb(14, 162, 190);
}

